<div>
    <table class="table2" > 
        <tr>
            <td >Incident ID:</td>
            <td >INC00015</td>
            <td >Affected customers:</td>
            <td ><input type="text"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
               
        <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        </select>
            </td>
            <td>Outage time:</td>
            <td><input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2021-04-20">
         </td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td><select name="a" id="a">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                </select></td>
            <td>ETR:</td>
            <td><input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2021-04-20">
         </td>
        </tr>
        <tr>
            <td>Confirmed:</td>
            <td><mat-slide-toggle>Slide me!</mat-slide-toggle></td>
            <td>Calls:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>Dispached</td>
            <td>Voltage[kV]:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text"></td>
            <td>Scheeduled time:</td>
            <td><input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2021-04-20">
         </td>
        </tr>
        <tr>
            <td>ETA:</td>
            <td><input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2021-04-20">
         </td>
           
        </tr>
        <tr>
            <td>ATA:</td>
            <td><input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2021-04-20">
         </td>
            
        </tr>
       
    </table>
</div>

