<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Type:</span>
    <select class="form-select" [(ngModel)]="workRequest.type">
      <option value="planned_work" selected>Planned work</option>
      <option value="unplanned_work">Unplanned work</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Status:</span>
    <input type="text" disabled class="form-control" [(ngModel)]="workRequest.status"/>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3" [(ngModel)]="workRequest.incident">
    <span class="input-group-text">Incident:</span>
    <select class="form-select">
      <option value="incident1" selected>Incident 1</option>
      <option value="incident2">Incident 2</option>
    </select>
  </div>
  <div class="col input-group mb-3">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="workRequest.urgent">
      <label class="form-check-label" for="flexSwitchCheckDefault">Emergency work</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Type of work:</span>
    <select class="form-select">
      <option value="equipment" selected>EquipmentToAdd</option>
    </select>
  </div>
  <div class="col input-group mb-3">
    <span class="input-group-text">Company</span>
    <input type="text" class="form-control" [(ngModel)]="workRequest.company"/>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Start date/time:</span>
    <input type="date" class="form-control" [ngModel]="workRequest.startedTime | date:'yyyy-MM-dd'"
           (ngModelChange)="workRequest.startedTime = $event"/>
  </div>
  <div class="col input-group mb-3">
    <span class="input-group-text">Incident:</span>
    <span class="form-control">INC1</span>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">End date/time:</span>
    <input type="date" class="form-control" [ngModel]="workRequest.finishedTime | date:'yyyy-MM-dd'"
           (ngModelChange)="workRequest.finishedTime = $event"/>
  </div>
  <div class="col input-group mb-3">
    <span class="input-group-text">Phone No:</span>
    <input type="text" class="form-control" [(ngModel)]="workRequest.phoneNumber"/>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Created by:</span>
    <input type="text" disabled class="form-control" [(ngModel)]="workRequest.userCreated"/>
  </div>
  <div class="col input-group mb-3">
    <span class="input-group-text">Date/time created</span>
    <input type="text" disabled class="form-control" [ngModel]="workRequest.creationDate | date: 'mediumDate'"/>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Purpose:</span>
    <input type="text" class="form-control" [(ngModel)]="workRequest.purpose"/>
  </div>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Notes:</span>
    <input type="text" [(ngModel)]="workRequest.notes" class="form-control"/>
  </div>
</div>
<div class="text-center">
  <button mat-raised-button color="primary" (click)="modifyWorkRequest()">Modify</button>
</div>
