<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px" >
 
    <div fxFlex="20"  >
        <mat-action-list >
            <button mat-list-item > Basic Information </button>
            <button mat-list-item  > History of state changes </button>
            <button mat-list-item > Multimedia attachments </button>
            <button mat-list-item > Equipment </button>
            <button mat-list-item > Checklist </button>
          </mat-action-list>

    </div>
<div  fxFlex="100" >
    
</div>

</div>
<br>
<mat-divider></mat-divider>
