<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
  <div fxFlex="20">
    <mat-action-list>
      <button mat-list-item (click)="toggleBasic()">Basic Information</button>
      <button mat-list-item>History of state changes</button>
      <button mat-list-item>Multimedia attachments</button>
      <button mat-list-item>EquipmentToAdd</button>
      <button mat-list-item (click)="toggleChecklist()">Checklist</button>
    </mat-action-list>
  </div>
  <div fxFlex="100">
    <app-bscinformation *ngIf="showMe"></app-bscinformation>
    <app-checklist *ngIf="showMe5"></app-checklist>
  </div>
</div>
<br />
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="end">
  <a routerLink="/default/safety"><mat-icon>cancel</mat-icon> </a>
  <mat-icon>save</mat-icon>
</div>
