<div style="background-color: greenyellow;" class="container">

  <h1 class="text-center">Create new Incident</h1>
    <div class="row">
      <div class="col input-group mb-3"  >
        <span class="input-group-text">Type:</span>
        <select class="form-select" [(ngModel)]="incident.type">
          <option value="planned_work" selected>Planned Work</option>
          <option value="not_a_planned_work" selected>Not a Planned Work</option>
        
        </select> 
      </div>
    
      <div class="col input-group mb-3">
        <span class="input-group-text">Outage time:</span>
        <input type="date" class="form-control" [(ngModel)]="incident.outageTime" />
      </div>
    
    </div>
    
    
    <div class="row">
      <div class="col input-group mb-3"  >
        <span class="input-group-text">Priority:</span>
        <select class="form-select" [(ngModel)]="incident.priority">
          <option value="incident1" selected> 1</option>
          <option value="incident2"> 2</option>
          <option value="incident2"> 3</option>
        </select>
      </div>
      <div class="col input-group mb-3">
        <span class="input-group-text">ETR:</span>
        <input type="date" class="form-control" [(ngModel)]="incident.etr" />
      </div>
    </div>
    
    
    <div class="row">
      <div class="col input-group mb-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="incident.confirmed" >
          <label class="form-check-label" for="flexSwitchCheckDefault">Confirmed:</label>
        </div>
      </div>
    
    
      <div class="col input-group mb-3">
        <span class="input-group-text">Calls:</span>
        <input type="number" class="form-control"  [(ngModel)]="incident.calls" />
      </div>
    </div>
    
    
    <div class="row">
     
    
       <div class="col input-group mb-3">
        <span class="input-group-text">Voltage[kV]:</span>
        <input type="text" class="form-control" [(ngModel)]="incident.voltage" />
      </div>
    </div>
    
    
    <div class="row">
      <div class="col input-group mb-3">
        <span class="input-group-text">Description:</span>
        <input type="text" class="form-control" [(ngModel)]="incident.description"  />
      </div>
    </div>
    
    
    <div class="row">
      <div class="col input-group mb-3">
        <span class="input-group-text">ETA:</span>
        <input type="date" class="form-control" [(ngModel)]="incident.eta" />
      </div>
    
      <div class="col input-group mb-3">
        <span class="input-group-text">Scheduled time:</span>
        <input type="date" class="form-control" [(ngModel)]="incident.scheduledTime"  />
      </div>
    </div>
    
    <div class="row">
      <div class="col input-group mb-3">
        <span class="input-group-text">ATA:</span>
        <input type="date" class="form-control" [(ngModel)]="incident.ata" />
      </div>
    
      <div class="col input-group mb-3">
        <span class="input-group-text">Affected customers:</span>
        <input type="number" class="form-control" [(ngModel)]="incident.affectedCustommers" />
        
      </div>
    </div>
    
    <div class="text-center">
    <button mat-raised-button color="primary" style="width: 100px;" (click)="addIncident()"  ><mat-icon >save</mat-icon> </button>
    <button mat-raised-button color="primary" style="width: 100px;"   routerLink="/default/myIncidents"  ><mat-icon >cancel</mat-icon> </button>
    </div>
    
    </div>
