<h2 class="text-center">Changes History List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Changed by</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let change of changes; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ change.date }}</td>
      <td>{{ change.status }}</td>
    </tr>
  </tbody>
</table>
<h3>Current Status: <strong>Denied</strong></h3>
<button
  style="margin-right: 20px"
  type="button"
  class="btn btn-success"
  (click)="changeStatus(workRequestStatus.APPROVED)"
>
  Approve
</button>
<button
  style="margin-right: 20px"
  type="button"
  class="btn btn-danger"
  (click)="changeStatus(workRequestStatus.DENIED)"
>
  Deny
</button>
<button
  type="button"
  class="btn btn-secondary"
  (click)="changeStatus(workRequestStatus.CANCELED)"
>
  Cancel
</button>
