<div style="margin: 0 auto; width: 30%;">
   
    
    
    <body id="a">
    
        <h3 style="color: coral;">Register</h3>
        
        <div id="formaregister" >
          <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
            <label for="uname">Username</label>
            <input type="text" id="uname" name="uname" placeholder="Your username..">
        
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email..">
        
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password..">
        

          
            <label for="role">Role</label>
            <select id="role" name="role">
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
            </select>
    
            
            <input type="submit" value="Submit">
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <input type="submit" value="Cancel"  routerLink="/"  >
          </form>
        </div>

        
        
        </body>
    </div>
    
    

