<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Type:</span>
    <select class="form-select" [(ngModel)]="document.Type">
      <option value="planned_work" selected>Planned work</option>
      <option value="unplanned_work">Unplanned work</option>
    </select>
  </div>

  <div class="col input-group mb-3">
    <span class="input-group-text">Plan rada:</span>
    <input type="text" class="form-control" [(ngModel)]="document.Plan" value="{{document.Plan}}" />
  </div>
</div>

<div class="row">
  <div class="col input-group mb-3">
    <span class="input-group-text">Status:</span>
    <span class="form-control">Draft</span>
  </div>

  <div class="col input-group mb-3">
    <span class="input-group-text">CreatedBy:</span>
    <input type="text" disabled class="form-control" [(ngModel)]="document.CreatedBy" />
</div>


</div>

<div class="row">
     
  <div class="col input-group mb-3">
    <span class="input-group-text">Crew:</span>
    <input type="text" class="form-control" [(ngModel)]="document.FiledCrew"  />
  </div>


<div class="col input-group mb-3">
  <span class="input-group-text">Details:</span>
  <input type="text" class="form-control" [(ngModel)]="document.Details"  />
</div>
</div>



<div class="row">
 
  <div class="col input-group mb-3">
    <span class="input-group-text">Notes:</span>
    <input type="text" class="form-control" [(ngModel)]="document.Notes"  />
  </div>


<div class="col input-group mb-3">
  <span class="input-group-text">PhoneNo:</span>
  <input type="text" class="form-control" [(ngModel)]="document.PhoneNo" />
</div>
</div>

<div class="row">
 
  <div class="col input-group mb-3">
    <span class="input-group-text">CreationDate:</span>
    <input type="date" class="form-control" [(ngModel)]="document.CreationDate"/>
  </div>



</div>





<div class="text-center">
  <button mat-raised-button color="primary" (click)="modifyDoc()">Modify</button>
</div>


