<div style="background-color: greenyellow;" class="container">

<h1 style="text-align: center;" >Add new element</h1>
    <div class="row">
      <div class="col input-group mb-3"  >
        <span class="input-group-text">Type:</span>
        <select class="form-select" [(ngModel)]="element.type">
          <option value="Prekidac" selected>Prekidac</option>
          <option value="Osigurac" selected>Osigurac</option>
          <option value="Transformator" selected>Transformator</option>
          <option value="Diskonektor" selected>Diskonektor</option>
        
        </select> 
      </div>

      
      <div class="col input-group mb-3">
        <span class="input-group-text">Name:</span>
        <input type="text" class="form-control" [(ngModel)]="element.name" />
      </div>
     

    </div>

    <div class="row">
        <div class="col input-group mb-3">
          <span class="input-group-text">Adress:</span>
          <input type="text" class="form-control" [(ngModel)]="element.adress" />
        </div>
      
         <div class="col input-group mb-3">
          <span class="input-group-text">Coordinats:</span>
          <input type="text" class="form-control"  [(ngModel)]="element.coordinates"/>
        </div>
      </div>

     
    <div class="text-center">
      <button mat-raised-button color="primary" style="width: 100px;" (click)="addElement()"  ><mat-icon >save</mat-icon> </button>
      <button mat-raised-button color="primary" style="width: 100px;"   routerLink="/default/elementiMreze"  ><mat-icon >cancel</mat-icon> </button>
      </div>
    
</div>
