<html>
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
   
    <a routerLink="/default/calls"><button class="btn"><mat-icon>Add</mat-icon>New</button></a>
    

    <button class="btn"><span class="material-icons">
        filter_alt
        </span>Filter</button>
   </div>

   <br>



   <div class="container">
    <table class="table" matSort (matSortChange)="sortData($event)">
        <thead class="thead-dark">  
            <tr>
                <th mat-sort-header="callId">
                    Call id
                </th>
                <th mat-sort-header="Reason">
                    Reason
                </th>
                <th mat-sort-header="Hazard">
                    Hazard
                </th>
                <th mat-sort-header="Comment">
                    Comment
                </th>
                <th >
                    
                </th >
               
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let call of sortedData | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{call.callId}}</td>
                    <td>{{call.Reason}}</td>
                    <td>{{call.Hazard}}</td>
                    <td>{{call.Comment}}</td>
                    <td> <a routerLink="/default/posts"><mat-icon > place</mat-icon></a>	</td>
                    
            </tr>
        </tbody>
        
    </table>
    <pagination-controls (pageChange)="p = $event"
    previousLabel=""
    nextLabel=""
    ></pagination-controls>
 
   
 </div>
</body>
  
 </html>