<div style="margin: 0 auto; width: 30%;">
   
    
    
    <body id="a">
    
        <h3 style="color: coral;">Login</h3>
        
        <div id="formalogin">
          <form action="/action_page.php">
            <label for="uname">Username</label>
            <input type="text" id="fname" name="username" placeholder="Your username..">
        
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password..">
        
           
            <input type="submit" value="Submit">
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <input type="submit" value="Register" routerLink="/register" >
          </form>
        </div>
        
        </body>
    </div>
    
    